streamlit
b2sdk
geoalchemy2
langchain_core
typing_extensions
langchain_community
langgraph
langchain_google_vertexai
modal
numpy
plotly
pyproj
pandas
pydantic>=2
psycopg2-binary
sqlalchemy
sqlparse
sqlglot
mysql-connector-python